In [ ]:
#!pip install krippendorff

In [3]:
import pandas as pd
import krippendorff

In [5]:
df = pd.read_csv("result_annotated.csv")
df

,Title,International,Annotator 1,Annotator 2,Annotator 3,Annotator 4
0,FinTech and the transformation of the financia...,1.0,3,4,4,3
1,Enterprise Engineering and Management at the C...,1.0,2,2,2,2
2,"Engaging, Designing and Making Digital Technol...",1.0,4,3,4,2
3,What does infrastructuring look like in STS? W...,1.0,1,1,3,3
4,Scholars’ open debate paper on the World Healt...,1.0,3,2,4,2
...,...,...,...,...,...,...
112,"Hvad vi taler om, når vi taler om sømandskultur",0.0,3,2,2,1
113,Design of A Development Platform for HW/SW Cod...,0.0,2,4,3,2
114,Making technology public: Challenging the not...,0.0,4,5,3,4
115,Trends in Governmental Enterprise Architecture...,0.0,4,2,2,3
116,Towards Artificial ATRON Animals: Proceedings ...,0.0,3,5,2,2

In [13]:
ratings = df[["Annotator 1","Annotator 2","Annotator 3", "Annotator 4"]]
ratings = ratings.to_numpy()
ratings

array([[3, 4, 4, 3],
       [2, 2, 2, 2],
       [4, 3, 4, 2],
       [1, 1, 3, 3],
       [3, 2, 4, 2],
       [3, 4, 3, 3],
       [3, 3, 3, 3],
       [3, 2, 2, 3],
       [4, 2, 1, 1],
       [3, 4, 2, 2],
       [2, 4, 4, 3],
       [2, 2, 3, 2],
       [2, 1, 1, 1],
       [2, 3, 3, 1],
       [2, 2, 4, 2],
       [1, 1, 4, 3],
       [1, 2, 3, 3],
       [2, 4, 4, 4],
       [2, 5, 3, 4],
       [2, 5, 2, 4],
       [1, 4, 1, 1],
       [4, 5, 4, 3],
       [3, 5, 3, 2],
       [2, 3, 3, 1],
       [3, 4, 2, 4],
       [4, 2, 3, 1],
       [5, 5, 5, 3],
       [4, 3, 4, 2],
       [3, 2, 3, 1],
       [3, 4, 4, 3],
       [4, 5, 3, 3],
       [3, 2, 2, 1],
       [3, 4, 2, 2],
       [3, 3, 2, 2],
       [4, 2, 3, 1],
       [3, 4, 3, 4],
       [2, 4, 2, 2],
       [4, 4, 3, 2],
       [4, 3, 3, 3],
       [4, 4, 2, 2],
       [4, 4, 3, 4],
       [1, 2, 3, 1],
       [4, 4, 4, 3],
       [3, 2, 1, 2],
       [4, 5, 4, 3],
       [2, 4, 5, 2],
       [2, 3, 2, 2],
       [3, 2, 4, 3],
       [2, 4, 4, 3],
       [3, 4, 5, 3],
       [2, 3, 4, 2],
       [4, 2, 4, 4],
       [3, 4, 5, 2],
       [3, 1, 1, 1],
       [4, 1, 1, 3],
       [4, 5, 4, 3],
       [2, 1, 2, 2],
       [4, 4, 2, 2],
       [4, 4, 4, 3],
       [2, 5, 5, 3],
       [4, 4, 5, 3],
       [4, 4, 4, 4],
       [3, 1, 3, 1],
       [3, 4, 4, 4],
       [2, 1, 2, 3],
       [3, 3, 4, 2],
       [4, 3, 4, 2],
       [4, 2, 2, 3],
       [3, 2, 4, 3],
       [4, 5, 5, 2],
       [2, 3, 3, 1],
       [2, 4, 4, 1],
       [2, 3, 5, 1],
       [3, 4, 5, 4],
       [5, 5, 5, 4],
       [4, 5, 5, 5],
       [3, 2, 4, 3],
       [3, 1, 4, 1],
       [3, 1, 1, 1],
       [2, 4, 3, 2],
       [2, 3, 4, 4],
       [3, 2, 2, 2],
       [4, 4, 2, 3],
       [3, 4, 4, 3],
       [4, 3, 3, 2],
       [3, 1, 4, 2],
       [5, 3, 2, 1],
       [4, 4, 2, 2],
       [4, 2, 2, 2],
       [3, 4, 1, 2],
       [4, 2, 2, 1],
       [5, 5, 4, 4],
       [2, 4, 2, 5],
       [4, 4, 3, 2],
       [3, 2, 3, 1],
       [2, 1, 4, 2],
       [4, 4, 5, 3],
       [3, 2, 2, 4],
       [5, 3, 3, 2],
       [4, 2, 3, 3],
       [4, 3, 4, 2],
       [3, 2, 2, 2],
       [1, 1, 1, 1],
       [1, 2, 3, 2],
       [3, 2, 2, 2],
       [3, 1, 1, 1],
       [3, 2, 2, 1],
       [4, 5, 4, 3],
       [4, 4, 1, 3],
       [3, 3, 2, 2],
       [3, 2, 3, 2],
       [4, 4, 5, 3],
       [3, 2, 2, 1],
       [2, 4, 3, 2],
       [4, 5, 3, 4],
       [4, 2, 2, 3],
       [3, 5, 2, 2]], dtype=int64)

In [15]:
alpha = krippendorff.alpha(ratings, level_of_measurement='ordinal')
print(f"Krippendorff's Alpha: {alpha}")

Krippendorff's Alpha: 0.0577537711722057